#pizzaA{
    display:flex;
    justify-content: space-around;
    align-content: flex-start;
    float: left;
    padding: 2px auto;
    margin: 2px auto;
}
#pizzaB{
    display:flex;
    justify-content: space-around;
    align-content: flex-start;
    float: left;
    padding: 2px auto;
    margin: 2px auto;
    
}

